<div class="by-me-wrapper">
      <div class="by-me">
        <a href="https://github.com/moraesmax" target="_blank" class="by-me-link">
          <span class="by-me-text">By @moraesmax</span>
        </a>
      </div>
    </div>
    <header>
      <div class="title">
        <a href="{{ site.url }}">
        Rules of the Internet
        </a>
      </div>
      <div class="description">
        Several of the other rules here, also function effectively as observations about Internet philosophy; they don't necessarily describe the way people should behave online, so much as the way they do behave.<br> And never NEVER forget rule #20!
      </div>
    </header>
